<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HomePage Portale Online</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p> Scegli Corso </p>
    <form th:action="@{/f}" method="POST">
    	<h4>corso:</h4>
		<select name="id" >
   			  <option th:each="corso: ${corsi}"
            		  th:value="${corso.id}"
            		  th:text="${corso.nome}">
    		  </option>
		</select>
    	<p><input type="submit" value="vai"></p>
    </form>   
</body>
</html>