<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : PlainDisplay 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140309

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Varela"
	rel="stylesheet" />
<link href="/css/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="/font/fonts.css" rel="stylesheet" type="text/css" media="all" />
<link href="default_ie6.css" rel="stylesheet" type="text/css" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
	<div id="wrapper">
		<div id="header-wrapper">
			<div id="header" class="container">
				<div id="logo">
					<h1>
						<a href="#">ACME FORMATION</a>
					</h1>
				</div>
				<div id="menu">
					<ul>
						<li class="current_page_item"><a href="/" accesskey="1"
							title="">Homepage</a></li>
						<li><a href="/logout" accesskey="5" title="">Logout</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div id="extra" class="container" th:object="${studente}">
			<div class="title">
				<h2>Studente:</h2>
			</div>

			<p th:text="'Nome: ' + *{nome}" />
			<p th:text="'Cognome: ' + *{cognome}" />
			<p th:text="'Email: ' + *{email}" />
			<p th:text="'Data Nascita:' + *{dataNascita}" />


			<table>
				<tr>
					<th>id</th>
					<th>Nome Corso</th>
					<th>Data</th>
				</tr>
				<th:block th:each="corso : ${corsi}">
					<tr>
						<td th:text="${corso.id}">...</td>
						<td th:text="${corso.nome}">...</td>
						 <td th:date="${corso.data}">...</td> 
					</tr>
				</th:block>
			</table>

			<ul class="actions">
				<li><a href="/aggiungiStudenteCorso" class="button">aggiungi
						corso</a></li>
			</ul>

		</div>



	</div>
	<div id="copyright" class="container"></div>
</body>
</html>
