<DOCTYPE html PUBLIC "-//W3C//DTDXHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : PlainDisplay 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140309

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Varela"
	rel="stylesheet" />
<link href="/css/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="/font/fonts.css" rel="stylesheet" type="text/css" media="all" />
<!--<link href="default_ie6.css" rel="stylesheet" type="text/css" />-->

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
	<div id="wrapper">
		<div id="header-wrapper">
			<div id="header" class="container">
				<div id="logo">
					<h1>
						<a href="#">ACME FORMATION</a>
					</h1>
				</div>
				<div id="menu">
					<ul>
						<li class="current_page_item"><a href="/" accesskey="1"
							title="">Homepage</a></li>

						<li><a th:href="@{/logout}" accesskey="5" title="">logout</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div id="extra" class="container">
			<div class="title">
				<h2>COMANDI:</h2>
			</div>

			<ul class="actions">
				<a th:href="@{/newStudente}" class="button">aggiungi studente</a>
				<a th:href="@{/cercaStudente}" class="button">cerca studente</a>
				<a th:href="@{/listaStudenti}" class="button">lista studenti</a>
				<a th:href="@{/newCorso}" class="button">aggiungi corso</a>
				<a th:href="@{/mostraCorsi}" class="button">lista corsi</a>
				<a th:href="@{/reportStudente}" class="button">report attività
					studenti</a>
			</ul>
		</div>


	</div>
	<div id="copyright" class="container">
		
	</div>
</body>
</html>